# Versiones compatibles con CPU
torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

easyocr
flask
flask-cors
python-dotenv
openai>=1.0.0
python-docx
pillow
numpy
fpdf
qdrant-client
PyMuPDF
